nav {
  height: 120px;
  width: 100%;
  background: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  position: fixed;
  top: 0;
}

nav > span {
  font-family: Bungee, sans-serif;
}

nav > div > p > span {
  font-weight: bold;
}

nav > span {
  font-size: 2.5rem;
}

.nav_new_tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav_new_tweet p {
  cursor: pointer;
}

.nav_new_tweet i {
  margin-top: -1.2rem;
  color: red;
  cursor: pointer;
}

@keyframes arrowMovement {
  from {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 5px, 0);
  }
}

.nav_new_tweet i:hover {
  animation: arrowMovement 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
